html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: sans-serif;
    background-color: #eaebed;
    display: flex;
    justify-content: center;
}
.clear {
	clear: both;
}
a:hover
{ 
    color: red;
}
.header {
  	width: 100%;
  	height: 61px;
  	background: #000000;
    display: flex;
    justify-content: space-between;
}
.icons {
	color: white;
	float: left;
}
.bar {
	padding: 21px 0px 0px 35px;
}
.abc {
  width: 260px;
  border: 1px solid #4b4d4f;
  border-radius: 4px;
  background-color: #4b4d4f;
  height: 30px;
  float: right;
  margin: 14px 22px;
}
.searchicon {
  color: white;
  padding: 0px 5px;
  opacity: 0.1;
}
.textfield {
	background-color: #4b4d4f;
  border: 1px solid #4b4d4f;
	height: 26px;
	width: 227px;
  outline: none;
}
.globe {
	padding: 19px 0px 0px 345px;
}
.english {
	color: white;
	float: left;
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.bell {
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.share {
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.settings {
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.outgoing {
	padding: 18px 30px 25px 30px;
}
.sidebar {
    width: 16.33%;
  	background-image: linear-gradient(to left, #4ae4cf, #11b69f);
    color: white;
}
.xolo {
	padding: 25px 0px 0px 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;  
}
.image {
	height: 80px;
	width: 80px;
	padding: 20px 0px 0px 65px;
}
.donald {
	padding: 10px 0px 0px 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}
.azin {
	padding: 1px 0px 0px 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}
.gmail {
	color: #8d9ea7;
	border: 1px solid white;
	border-radius: 20px;
	padding: 8px;
	margin : 27px 0px 0px 60px;
	background-color: white
}
.users {
	color: #8d9ea7;
	border: 1px solid white;
	border-radius: 20px;
	padding: 9px 12px 9px 12px;
	margin : 27px 0px 0px 20px;
	background-color: white
}
.main {
	font-family: 'Muli', sans-serif;
	padding: 10px 0px 10px 12px;
	margin-top: 8px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	font-size: 15px;
}
.marginset {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Muli', sans-serif;
	font-size: 17px;
}
.common1 {
	padding: 10px 0px 10px 30px;
	float: left;
}
.downarrow {
	padding: 10px 0px 0px 0px;
	float: right;
}
.main-list {
	padding: 13px 0px 0px 0px;
}














h1 {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
h2 {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
h3 {
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
p {
  font-size: 14px;
  color: #2a3f5a;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.content-margin {
	   margin: 0px 15px 0px 15px;
}
.common-1 {
    padding: 25px 22px 25px 22px;
    background-color: #ffffff;
}
.common-2 {
    margin: 15px 15px 15px 15px;
}
.headingclass {
    margin-bottom: 15px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.header-content{
  width: 83.66%;
}


    /*CONTENT START*/


.welcome-back {
	  padding: 40px 0px 0px 25px;
}
.home {
    padding: 0px 20px 0px 0px;
    float: right;
}
.admin {
	  padding: 0px 0px 15px 25px;
}


    /*GRAPH*/


.graph1 {
    border-radius: 4px;
    float: left;
}
.uparrow {
    border: 1px solid #4ae4cf;
    background-color: #4ae4cf;
    color: white;
    margin: 0px 0px 0px -20px;
    float: left;
}
.month {
    padding-top: 3px;
}
.padding1 {
    padding-bottom: 45px;
}

    /**/



/**CARDS**/


.foricon {
  padding: 0px 10px;
  opacity: 0.2;
}
.cards {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.cardsize {
  border-radius: 4px;
  font-size: 30px;
}
.iconcolor2 {
  color: white;
  opacity: 1;
  padding: 29px 35px;
  border: 1px solid black;
  
  border-radius: 100%;
  background-color: black;
}
.textalign-center {
    text-align: center;
    font-weight: normal;
}
.textcolor {
    color: #ffffff;
}
.green {
  background-color: #7dbd19;
}
.orange {
    background-color: #fcb700;
}
.pink {
    background-color: #f97c71;
}
.blue {
    background-color: #69a6f7;
}
.voilet {
    background-color: #b67eff;
}
.cyan {
    background-color: #52d1b7;
}
.paddingadj {
  padding-top: 20px;
}
.paddingadj1 {
  padding-top: 6px;
}



    /*GRAPH-2*/
    
.graph2 {
  width: 36%;
  border-radius: 4px;
  float: left;
}
.common-4 {
  display: flex;
  justify-content: space-around;
  padding-top: 11px; 
}
.border-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 30px;
}
.margin-2 {
  margin: 20px 0px 0px 0px;
}
.margin1 {
  margin-top: 22px;
}
.border1 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.meter1 {
  height: 10px;
  width: 100%;
  background: #eaebed;
  border-radius: 25px;
  margin: 15px 45px 0px 0px;
}
.meter1 span {
  display: block;
  height: 100%;
  background-color: #7dbd19;
}
.paddingadj2 {
  padding-left: 15px;
}
/**/



/*PROGRESS*/

.progress1 {
    width: 50%;
    border-radius: 4px;
    float: right;
    }   
.para1 {
    padding: 30px 0px 0px 0px;
    }
.meter { 
    height: 10px;
    width: 200px;
    background: #eaebed;
    border-radius: 25px;
    margin: 14px 45px 0px 23px;
    }
.meter span {
    display: block;
    height: 100%;
    background-color: #7dbd19;
    }

/**/




/*UPDATES*/

.updates {
  width: 26%;
  border-radius: 4px;
  float: left;
}
.user {
  padding: 0px 0px 10px 0px;
}
.lorem {
  padding: 5px 0px 10px 0px;
}
.iconcolor1 {
  color: #afb1b2;
  width: 20px;
}
.hours {
  color: #afb1b2;
  padding-top: 2px;
  padding-bottom: 10px;
}
ul li {
  list-style: none; 
  position: relative;
  margin-top: 23px;
}

ul li:before {
  color: #006b6e;  
  content: ""; 
  position: absolute; 
  top: 0;
  left: -40px;
  background: white;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 3px solid yellow;
}
ul li:nth-child(1):before {
  border: 3px solid #f37f0d;
}

ul li:nth-child(2):before {
  border: 3px solid #52d1b7;
}
ul li:nth-child(3):before {
  border: 3px solid #ea5f59;
}
ul {
  position: relative;
}
ul::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 6px;
  border: 1px solid #afb1b2;
}

/**/





/*Administrator*/

.administrator {
  width: 24%;
  border-radius: 4px;
  float: left;
}
.paddingadjust {
  padding: 0px 0px 11px 0px;
  background-color: #ffffff;
}
.image-position {
  position: relative;
  left: 0; 
  top: 0;
}
.image-scenary {
  width: 100%;
}
.image-person {
  height: 69px;
  width: 69px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 120px;
  left: 40px;
  border: 4px solid white;
  border-radius: 100%;
}
.name {
  padding: 5px 0px 0px 124px;
}
.iconcolor {
  color: #2a3f5a;
  padding: 30px 0px 0px 40px;
}
.name1 {
  padding: 33px 0px 0px 65px;
}
.commonclass {
  margin : 20px 0px 0px 35px;  
}
.facebook { 
  border-radius: 20px;
  border: 1px solid #3b579d;
  padding: 12px 15px 12px 15px;
  background-color: #3b579d
}
.twitter {
  border: 1px solid #2caae1;
  border-radius: 20px;
  padding: 12px;
  margin : 0px 0px 0px 10px;
  background-color: #2caae1;
}
.dribble {
  border: 1px solid #ea4c89;
  border-radius: 20px;
  padding: 12px;
  margin : 0px 0px 0px 10px;
  background-color: #ea4c89;
}
.linkedin {
  border: 1px solid #0177b5;
  border-radius: 20px;
  padding: 12px;
  margin : 0px 0px 0px 10px;
  background-color: #0177b5;
}

/**/


/*OPEN PROJECTS*/

.icons1 {
  color: white;
  float: left;
}
.open-projects {
  width: 33%;
  border-radius: 4px;
  float: right;
}
.iconstyle-1 {
  border: 1px solid #afb1b2;
  padding: 5px;
  color: black;
}
.iconstyle-2 {
  border: 1px solid #afb1b2;
  margin: 0px 0px 0px 20px;
  padding: 5px;
  color: black;

}
.padding2 {
  padding: 21px 0px;
}
/**/

/*MEMBER ACTIVITY*/


.member-activity {
    width: 93%;
    border-radius: 4px;
    float: left;
}
.table-members {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding-top: 30px;
}
.table-members td, .table-members th {
    border-bottom: 1px solid #ddd;
}
th{
  text-align: left;
}
.border2 {
  border: 1px solid #f97c71;
  border-radius: 50px;
  color: white;
  padding: 6px;
  margin-left: 20px;
}
.color1 {
  border: 1px solid #f97c71;
  background-color: #f97c71;
  text-align: center;
}
.color2 {
  border: 1px solid #fcb700;
  background-color: #fcb700;
  text-align: center;
}
.color3 {
  border: 1px solid #69a6f7;
  background-color: #69a6f7;
  text-align: center;
}
.color4 {
  border: 1px solid #66bb6a;
  background-color: #66bb6a;
  text-align: center;
}
.color5 {
  border: 1px solid #fcb700;
  background-color: #fcb700;
  text-align: center;
}
.color6 {
  border: 1px solid #b67eff;
  background-color: #b67eff;
  text-align: center;
}
.margin3 {
  margin: 31px 0px 0px 0px;
}

.image-person1 {
    height: 40px;
    width: 40px;
    margin: 0px 15px 0px 0px;
    border: 1px solid white;
    border-radius: 20px;
    vertical-align: middle;
  }

.member-activity div h1{
  padding: 0px 0px 10px 60px;
}
.member-activity div p{
  padding: 0px 0px 0px 60px;
}
.paddingadj4{
  text-align: center
}


/**/


.dropdown-btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;  
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
}
.dropdown-container {
  display: none;
  background-image: linear-gradient(to left, #4ae4cf, #11b69f);
}
.link1{
  color: white;
  text-decoration: none;
  padding-left: 105px;
}
.downarrow1 {
  float: right;
  padding-left: 55px;
}
.flexbox1 {
  display: flex;
}
.flexbox3 {
  display: flex;
}
.flexbox4 {
  display: flex;
}
.width100 {
  width:100%;
}
.close-menu {
  display: none;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 100;
  }
  .sidebar {
    position: fixed;
    top: 62px;
    left: 0%;
    right: 0%;
    z-index: 20;
    width: 59%;
    overflow-y: auto;
    height: 100%;
    }
  .common-4 {
    display: block;
  }
  .home {
    display: none;
  }
  .header-content {
    width: 100%;
  }
  .border-3{
    border-right: none;
  }
  .abc{
    width: 200px;
  }
  .textfield {
    width: 167px;
  }
  .graph1 { 
    width: 80%;
  }
  .cards {
    display: block;
    width: 100%;
  }
  .cardsize {
    width: 28%;
    float: left;
  }
  .graph2 {
    width: 80%;
  }
  .progress1 {
    width: 80%;
  }
  .updates {
    width: 80%
  }
  .administrator {
    width: 93%; 
  }
  .open-projects {
    width: 79%;
  }
  .member-activity {
    width: 80%;
  }
  .flexbox1 {
    display: block;
  }
  .header {
    display: block;
  }
  .table-members {
    display: none;
  }
  .hide1 {
    display: none;
  }
  .spacing {
    padding-top: 10px;
  }
  .flexbox3 {
    display: block;
  }
  .flexbox4 {
    display: block;
  }
  .welcome-back {
    padding-top: 100px;
  }
  #myChart3{
    padding-left: 20px;
  }
  .uparrow {
    margin: 0px 0px 0px 0px;
  }

}

@media(min-width: 768px) and (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 100;
  }
  .sidebar {
    position: fixed;
    top: 62px;
    left: 0%;
    right: 0%;
    z-index: 20;
    width: 29%;
    overflow-y: auto;
    height: 100%;
  }
  .header-content {
    width: 100%;
  }
  .welcome-back {
    padding-top: 100px;
  }
  .flexbox1 {
    display: block;
  }

  .abc {
    width: 200px;
  }
  .textfield {
    width: 167px;
  }
  .globe {
    padding: 19px 0px 0px 44px;
  }
  .graph1 {
    width: 90%;
  }
  .cards {
    display: block;
    width: 100%;
  }
  .cardsize {
    width: 23%;
    float: left;
  }
  .iconcolor2 {
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .graph2 {
    width: 90%;
  }
  .progress1 {
    width: 90%;
  }
  .updates {
    width: 43%
  }
  .administrator {
    width: 42%; 
  }
  .open-projects {
    width: 90%;
  }
  .border-3 {
    padding-right: 87px;
  }
  .table-members {
    display: none;
  }
  .medium {
    padding: 0px 0px 0px 45px;
  }
  .flexbox4 {
    display: block;
  }
  .flexbox3 {
    display: block;
  }
  .member-activity {
    width: 90%;
  }

}
  

/*$(".navsearchclick").click(function() {
    $(".searchfield").animate({
        width: '100px'
    });
     $(".search-common").removeClass("searchfield");
     $(this).removeClass("navsearchclick");
    $(this).addClass("closeSearch");
   
});
$(".closeSearch").click(function() {
    console.log("closeSearch")
    $(".search-common").animate({
        width: '0px'
    });
     $(".search-common").addClass("searchfield");
     $(this).addClass("navsearchclick");
    $(this).removeClass("closeSearch");
   
});*/
