html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: sans-serif;
    background-color: #eaebed;
}
.clear{
	clear: both;
}
a:hover
{ 
    color: red;
}





.header{
  	width: 100%;
  	height: 61px;
  	background: #ffffff;
  	top: 0;
  	left: 0;
}
.icons{
	color: white;
	float: left;
}
.bar{
	padding: 21px 0px 0px 285px;
}
.textfield{
	border: 1px solid #4b4d4f;
	border-radius: 4px;
	background-color: #4b4d4f;
	height: 30px;
	width: 260px;
	margin: 13px 0px 0px 43px;
	float: left;
}
.globe{
	padding: 19px 0px 0px 316px;
}
.english{
	color: white;
	float: left;
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.bell{
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.share{
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.settings{
	padding: 18px 30px 25px 30px;
	border-right: 1px solid #514f4f;
}
.outgoing{
	padding: 18px 30px 25px 30px;
}








.sidebar{
  	/*height: 100%;*/
  	width: 16.33%;
    z-index: 1;
  	top: 0;
  	left: 0;
  	background-image: linear-gradient(to left, #4ae4cf, #11b69f);
  	/*overflow-x: hidden;*/
    color: white;
    float: left;
}
.xolo{
	padding: 25px 0px 0px 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;  
}
.image{
	height: 80px;
	width: 80px;
	padding: 20px 0px 0px 65px;
}
.donald{
	padding: 10px 0px 0px 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}
.azin{
	padding: 1px 0px 0px 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}
.gmail{
	color: #8d9ea7;
	border: 1px solid white;
	border-radius: 20px;
	padding: 8px;
	margin : 27px 0px 0px 60px;
	background-color: white
}
.users{
	color: #8d9ea7;
	border: 1px solid white;
	border-radius: 20px;
	padding: 9px 12px 9px 12px;
	margin : 27px 0px 0px 20px;
	background-color: white
}
.main{
	font-family: 'Muli', sans-serif;
	padding: 10px 0px 10px 12px;
	margin-top: 8px;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
	font-size: 15px;
}
.marginset{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Muli', sans-serif;
	font-size: 17px;
}
.common1{
	padding: 10px 0px 10px 30px;
	float: left;
}
.downarrow{
	padding: 10px 0px 0px 0px;
	float: right;
}
.main-list{
	padding: 13px 0px 0px 0px;
}






.content{
	 width: 83.66%;
	 float: right;
}
.content-margin{
	 margin: 0px 15px 0px 15px;
}
.welcome-back{
	 padding: 40px 0px 0px 25px;
     font-family: 'Josefin Sans', sans-serif;
     font-size: 18px;
     font-weight: bold;
     color: #2a3f5a;
}
.admin{
	padding: 6px 0px 0px 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #2a3f5a;
}
.graph1{
	 width: 540px;
     height: 450px;
     border-radius: 4px;
     background-color: #ffffff;
     margin: 40px 0px 0px 0px;
     float: left;
}
.maintenance{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #7dbd19;
     float: left;
     margin: 40px 0px 0px 26px;

}
.speedup{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #fcb700;
     float: left;
     margin: 40px 0px 0px 26px;
	
}
.freespace{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #f97c71;
     float: left;
     margin: 40px 0px 0px 26px;	
}
.fixproblems{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #69a6f7;
     float: left;
     margin: 30px 0px 0px 26px;
}
.allfunctions{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #b67eff;
     float: left;
     margin: 30px 0px 0px 26px;
}
.update{
	 width: 160px;
     height: 210px;
     border-radius: 4px;
     background-color: #52d1b7;
     float: left;
     margin: 30px 0px 0px 26px;
}
.graph2{
	 width: 447px;
     height: 398px;
     border-radius: 4px;
     background-color: #ffffff;
     margin: 30px 0px 0px 0px;
     float: left;
}
.progress1{
	width: 636px;
    height: 398px;
    border-radius: 4px;
    background-color: #ffffff;
    float: right;
    margin: 30px 0px 0px 0px;

}
.updates{
    width: 348px;
    height: 417px;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 30px 0px 0px 0px;
    float: left;
}
.administrator{
	width: 257px;
	height: 417px;
	border-radius: 4px;
	background-color: #ffffff;
	float: left;
	margin: 30px 0px 0px 20px;
}
.open-projects{
	 width: 445px;
  	 height: 417px;
  	 border-radius: 4px;
  	 background-color: #ffffff;
  	 float: right;
	 margin: 30px 0px 0px 20px;
}
.member-activity{
	 width: 1107px;
  	 height: 603px;
  	 border-radius: 4px;
  	 background-color: #ffffff;
  	 margin: 30px 0px 0px 0px;
}
.maintenance1{
	color: white;
    border: 1px solid #6fa817;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #6fa817;
    }
 .common2{
 	font-family: 'Josefin Sans', sans-serif;
 	color: #ffffff;
 }
.maintenance2{
    font-size: 18px;
    padding: 12px 0px 0px 27px;
}
.maintenance3{
    font-size: 14px;
    padding: 0px 0px 0px 38px;
}
.iconsize i{
	font-size: 40px;
}

.speedup1{
	color: white;
    border: 1px solid #cc9600;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #cc9600;
    }
    .freespace1{
	color: white;
    border: 1px solid #f86154;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #f86154;
    }
    .fixproblems1{
	color: white;
    border: 1px solid #257ef4;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #257ef4;
    }
    .allfunctions1{
	color: white;
    border: 1px solid #9a4dff;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #9a4dff;
    }
    .update1{
	color: white;
    border: 1px solid #30b59b;
    border-radius: 40px;
    padding: 17px 21px 17px 21px;
    margin: 35px 0px 0px 40px;
    background-color: #30b59b;
    }
    .abc{
    	font-family: JosefinSans; font-size: 20px; font-weight: bold; color: #2a3f5a;
    }
    